<!DOCTYPE html>
<html ng-app="employee">
<!--sample test-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
	<link rel="icon" href="img/favicon1.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/employeeList.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/dirPagination.js"></script>


	<link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
	<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>



</head>

<body ng-controller="employeeCtrl">
	<div class="header">

		<div class="logo">
			<img src="img/dplog.png">
			<span>ADMIN</span>
			<a href="#" class="nav-trigger">
				<span></span>
			</a>
		</div>
	</div>

	</div>
	</div>
	</div>
	<div class="side-nav">
		<div class="logo">
			<img src="img/dplog.png">
			<span>ADMIN</span>


		</div>
		<nav>
			<ul>
				<!-- <li>
						<a type="button" data-toggle="modal" data-target="#myModalAdmin">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<span>Add Admin</span>
						</a>
					</li>
					<li>
							<a type="button" data-toggle="modal" data-target="#myModalEmployee">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<span>Add Employee</span>
							</a>
						</li> -->
				<li class="active">
					<a href="#">
						<span>
							<i class="fa fa-archive"></i>
						</span>
						<span>Resume File</span>
					</a>
				</li>

				<li>
					<a href="#" ng-click="signOut();">
						<span>
							<i class="fa fa-sign-out"></i>
						</span>
						<span>Sign-out</span>
					</a>

				</li>
			</ul>
		</nav>
	</div>
	<div class="main-content">
		<div class="title">
			<h2>List of Applicants</h2>
		</div>

		<div class="container">

			<hr>
			<form>
				<input id="mainSearch" type="text" placeholder="Search employee" ng-model="searchText" />
				<select class="form-control sortby" ng-model="sortColumn">
					<option value="">Sort by</option>
					<option value="userId">Id</option>
					<option value="firstName">Profile Name</option>
					<option value="skill.skillName">Skill Set</option>
					<option value="phone">Contact #</option>
					<option value="email">Email</option>
					<option value="dateModified">Date & Time</option>
				</select>

				<select class="form-control sortby" ng-model="pageSize">
					<option value="">Page Size</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
				</select>

				<table class="table table-striped" id="myTable">
					<thead>
						<tr>
							<th ng-click="sort('userId')">Id</th>
							<th ng-click="sort('firstName')">Profile Name</th>
							<th>Skill Set</th>
							<th>Link to Resume</th>
							<th ng-click="sort('phone')">Contact #</th>
							<th ng-click="sort('email')">Email</th>
							<th ng-click="sort('dateModified')">Date & Time</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="result in resultAPI | orderBy:sortColumn | filter:searchText | itemsPerPage:pageSize track by $index">
							<td>{{result.userId}}</td>
							<td>{{result.firstName}}</td>
							<td>{{result.userSkills[0].skillName}}, {{result.userSkills[1].skillName}}, {{result.userSkills[2].skillName}}</td>
							<td>
								<a href="{{linkUrL}}{{result.userId}}" download>{{result.filename}}</a>
							</td>
							<td>{{result.phone}}</td>
							<td>{{result.email}}</td>
							<td>{{result.dateModified}}</td>
							<td>
								<button class="btn btn-danger btn-sm" type="button" data-toggle="modal" ng-click="deleteEmployee(result.userId)">Delete</button>
							</td>
						</tr>
					
					</tbody>

				</table>
				<div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
		</div>


		<!-- Trigger the modal with a button -->


		<!-- Modal -->
		<div id="myModalAdmin" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">New Admin Registration</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="newUser.email">
								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Password" ng-model="newUser.password">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveUser();">Save</button>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Modal -->
		<div id="myModalEmployee" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">New Employee Registration</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Profile Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Profile Name" ng-model="newUser.name">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Skills</label>
								<div class="col-sm-10">
									<input type="checkbox" name="html" value="HTML"> HTML
									<br>
									<input type="checkbox" name="angular" value="ANGULAR" checked>ANGULAR
									<br>
									<input type="checkbox" name="css" value="CSS">CSS
									<br>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="newUser.email">
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveUser();">Save</button>
									</div>
								</div>
						</form>
						</div>
						<div class="modal-footer">

							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			<!-- Modal -->
			<div id="myModalEdit" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit This User</h4>
						</div>
						<div class="modal-body">
							<form name="AddEmployeeForm" class="form-horizontal">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Profile Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Profile Name" ng-model="employee.username">
									</div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Skill Set</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Skills" ng-model="employee.skillName">
									</div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Link to Resume</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Resume Link" ng-model="employee.link">
									</div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Contact</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Contact" ng-model="employee.phone">
									</div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="employee.useremail">
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">

							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>


			<!-- <div id="myModalDelete" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
			
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Are You Sure?</h4>
					  </div>
					  <div class="modal-body">
						<h3 style="color: red">You are going to delete the user "{{resultAPI.userId}} "". All information will be deleted and can't be undone. </h3>
						<br/>
					  </div>
					  <div class="modal-footer">
					  <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deleteUser()">Yes</button>	      	
						<button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
					  </div>
					</div>
				
				  </div>
				</div> -->
			<script>
				function sortTable() {
					var table, rows, switching, i, x, y, shouldSwitch;
					table = document.getElementById("myTable");
					switching = true;
					while (switching) {
						//start by saying: no switching is done:
						switching = false;
						rows = table.getElementsByTagName("TR");
						/*Loop through all table rows (except the
						first, which contains table headers):*/
						for (i = 1; i < (rows.length - 1); i++) {
							//start by saying there should be no switching:
							shouldSwitch = false;
							/*Get the two elements you want to compare,
							one from current row and one from the next:*/
							x = rows[i].getElementsByTagName("TD")[0];
							y = rows[i + 1].getElementsByTagName("TD")[0];
							//check if the two rows should switch place:
							if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
								//if so, mark as a switch and break the loop:
								shouldSwitch = true;
								break;
							}
						}
						if (shouldSwitch) {
							/*If a switch has been marked, make the switch
							and mark that a switch has been done:*/
							rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
							switching = true;
						}
					}
				}
			</script>

			<script>
				function myFunction() {
					// Declare variables 
					var input, filter, table, tr, td, i;
					input = document.getElementById("myInput");
					filter = input.value.toUpperCase();
					table = document.getElementById("myTable");
					tr = table.getElementsByTagName("tr");

					// Loop through all table rows, and hide those who don't match the search query
					for (i = 0; i < tr.length; i++) {
						td = tr[i].getElementsByTagName("td")[0];
						if (td) {
							if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
								tr[i].style.display = "";
							} else {
								tr[i].style.display = "none";
							}
						}
					}
				}
			</script>

</body>

</html>


<!-- <div class="main container fadeScroller" ng-controller="myCtrl">
					<input class="form-control searchby" type="text" placeholder="Search employee" ng-model="searchText"/>
				<select class="form-control sortby" ng-model="sortColumn">
							<option value="">Sort by</option>
							<option value="id">Id</option>
							<option value="name">Profile Name</option>
							<option value="email">Skill Set</option>
							<option value="phone">Contact #</option>
							<option value="useremail">Email</option>
							<option value="website">Website</option> <br>
						</select>
				<table class="table" id="employeeTable">
					<thead>
						<tr>
							<th>id</th>
							<th>Profile Name</th>
							<th>Skill Set</th>
							<th>Link To Resume</th>
							<th>Contact #</th>
							<th>Email</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
							<tr ng-repeat="result in resultAPI | orderBy:sortColumn | filter:searchText" >
									<td>{{result.userId}}</td>
								   <td>{{result.name}}</td>
								   <td>{{result.skillName}}</td>
								   <td>{{result.phone}}</td>
								   <td>{{result.useremail}}</td> -->
<!-- <td>{{result.website}}</td>
				<tr>
						<td>1</td>
						<td>John Makaakit</td>
						<td>Python</td>
						<td><a href="#">johnmakaakit</a></td>
						<td>09229933441</td>
						<td>johnmakaakt@gmail.com</td>
						<td>
							<a href="file/resume/Resume.pdf" download="downloadsampleresume"><span ng-click="edit($index)" ng-hide="profile.editable">Download</span></a>
							<span ng-click="edit($index)"> | Edit</span>
							<span ng-click="delete($index)"> | Delete</span>
						  </td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jose Malason</td>
						<td>Django</td>
						<td><a href="#">josemalas</a></td>
						<td>09229933441</td>
						<td>malason.jose@hotmail.com</td>
						<td>
							<a href="file/resume/Resume.pdf" download="downloadsample"><span ng-click="edit($index)" ng-hide="profile.editable">Download</span></a>
							<span ng-click="edit($index)"> | Edit</span>
							<span ng-click="delete($index)"> | Delete</span>
						</td>
							</tr>
					<tr>
						<td>3</td>
						<td>Pedro Malantag</td>
						<td>Django</td>
						<td><a href="#">pedromalantag</a></td>
						<td>09229933441</td>
						<td>pedro.m@hotmail.com</td>
						<td>
							<a href="file/resume/Resume.pdf" download="downloadresume"><span ng-click="edit($index)" ng-hide="profile.editable">Download</span></a>
							<span ng-click="edit($index)"> | Edit</span>
							<span ng-click="delete($index)"> | Delete</span>
						</td>
					</tr>			 
					</tbody>
				</table> 
			</div>
		</div>
	</body>
</html>