profileUser{
    margin:100% !important;
}
.panel-default>.panel-heading {
    padding: -13px 15px !important;
    width: 100% !important;
}
.panel{
    width: fit-content !important;
}
.btn-sm{
    width: 100% !important;
    margin: 1px !important;
}
.row{
    margin-right: 32px !important;
    margin-left: 32px !important;
}
.userID{
    margin: 0% !important;

}
.sidebar{
    height: -webkit-fill-available !important;
    background-color: rgb(49, 48, 48)
}
/* a{
    color: beige !important;
    background-color: transparent;
} */
a hover{
    color: goldenrod !important;

}